@import '~antd/dist/antd.css';

html {
    font-size: 62.5%;
}

body {
    font-family: 'Rubik', sans-serif;
    font-size: 1.6rem;
    background: #fc00ff;
    background: -webkit-linear-gradient(to right, #00dbde, #fc00ff);
    background: linear-gradient(to right, #00dbde, #fc00ff);
}

h1.ant-typography {
    color: #fff;
}

.ant-menu-horizontal {
    display: flex;
    justify-content: flex-start;
    padding: 0 1rem;
}

@media(max-width: 991px) {
    .ant-menu-horizontal {
        justify-content: center;
    }
}